@import url("https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.menu-bar {
  background: linear-gradient(-90deg, rgb(92, 8, 92), rgb(204, 74, 91));
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --font-staat: "Staatliches", cursive;
  --font-os: "Oswald", sans-serif;
  --font-ram: "Rambla", sans-serif;
}

/* global classes */
.font-staat {
  font: normal 400 18px var(--font-staat);
}
.font-os {
  font: normal 300 18px var(--font-os);
}
.font-ram {
  font: normal bold 18px var(--font-ram);
}

.font-size-40 {
  font-size: 40px;
}
.font-size-34 {
  font-size: 34px;
}
.font-size-27 {
  font-size: 27px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}

.bgcolor-black {
  background-color: var(--color-black);
}

/* #global classes */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: left 0.5s ease;
}

#header nav {
  height: 100vh;
}
#header .site-title .navbar-brand {
  letter-spacing: 2px;
  color: var(--color-white);
}

#header .nav-link {
  margin: 0.7rem 1rem;
  border-bottom: 1px solid var(--color-border);
  text-transform: uppercase;
}

#header .nav-link:hover {
  color: var(--color-white) !important;
}

#header .toggle-button {
  background: none;
  color: var(--color-black);
  position: fixed;
  top: 25px;
  right: 20px;
  border: 1px solid var(--color-border);
}

.toggle-left {
  left: 0 !important;
  width: 1000px !important;
}

#about_me {
  margin-top: -1rem !important;
}
.card {
  margin-right: 50px;
  margin-left: 50px;
}

.card-space {
  padding-top: 50px;
}
.card-contact {
  margin-top: 100px;
}
.inner {
  overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}
.img-fluid {
  width: 200px;
  height: 300px;
}
.skill .bars p,
.site-content .skill .bars span {
  line-height: 1px;
}

/* #footer {
  padding-top: 25em;
  height: 20px;
} */

.fa-github {
  font-size: 5em;
  background-color: black;
}

.fa-linkedin {
  font-size: 5em;
  background-color: black;
}
@media screen and (min-width: 768px) {
  .toggle-button {
    display: none;
  }
  #header {
    z-index: 0;
  }
}
